.content {
    padding: 4em;
    padding-top: 0;
    background-color: #f5f5f5;
    width: 100vw !important;
}

.content>div {
    background-color: white;
    min-height: 80vh;
    padding: 2em;
    padding-top: 8em;
}

.jumbotron .row {
    margin-top: -3rem;
    margin-bottom: -4rem;
    justify-content: center;
}

.place-input-suggests {
    max-width: 250%;
}

.place-input-suggests li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 991px) {
    .place-input-suggests {
        max-width: 110%;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 20px;
        padding-top: 0;
    }
    .content>div {
        padding: 10px;
        padding-top: 8em;
    }
    .place-input-suggests {
        max-width: 105%;
    }
}

@media (max-width: 575px) {
    .content {
        padding: 10px;
        padding-top: 0;
    }
    .content>div {
        padding: 5px;
        padding-top: 8em;
    }
    .jumbotron .row {
        margin: -1rem 0.2rem -4rem;
    }
    .place-input-suggests {
        max-width: 100%;
    }
}

.wrap {
    overflow-wrap: break-word;
}

/* 
    I know this is not for responsiveness, 
    but it deserves to be added here 
*/

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
    outline: 0 !important;
    box-shadow: none !important;
    border: 1px none !important;
    background-color: rgba(0, 0, 0, 0.027451) !important;
    background-image: none !important;
    flex: 1 !important;
    padding: 0 .5em !important;
    color: #495057 !important;
    cursor: pointer !important;
}

/* Remove IE arrow */

select::-ms-expand {
    display: none !important;
}

.selectBox {
    position: relative;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    border-radius: .25rem;
}

.selectBox::after {
    content: '▼';
    color: #6c757d;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 7px 10px;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.selectBox:hover::after {
    color: #3c4044;
}